@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Slabo+27px&display=swap');


h1{
    text-align: center;
    color: rgb(30, 17, 43);
    text-shadow: 5px 5px 10px gray;
   
}
.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    justify-content: center;
}
.aboutme {
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 50px;
    font-family: charm;
    }

#me {
    width:30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 5px 10px 5px rgb(118, 119, 121);
    margin-top: 100px;
    font-family: charm;
}

*{
    margin: 0;
        padding: 0;
        font-family: charm;
    }
    


.nav{
  margin: 0;
    display: inline-block;
    text-decoration-line: none;
    text-align: center;
    width: 100%;
    height:70px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 5px 10px 5px rgb(118, 119, 121);
    position: static;
    opacity: .8;
    background-color: ivory;
    
}
nav li {
    display: inline-block;
    padding: 25px;
    color: rgb(45, 5, 83);
    
}



.back{

    background-image: url(flower-928308_1920.jpg);
    background-size: cover;
  
    
}

 .text {
     position: relative;
     width: 400px;
     height: auto;
     margin: 10px auto;
     background: rgb(223, 192, 243);
 }
text p {

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% -50%);

 }