body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgb(63, 7, 7);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
   
}


nav {
    float: right
}


nav ul {

margin: 0;
padding: 0;
list-style-type: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;

}

nav a {
color: rgb(0, 255, 255);
text-decoration: none;
text-transform: uppercase;
font-weight: 600;
}

nav a:hover {
    color: rgb(0, 255, 255);

}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0pt;
transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}

h1 {
    
    font-family: sans-serif;
    text-align: center;
    text-shadow: 3px 2px gray;
    text-transform: uppercase;

}















.button1 {
   
    background-color: white;
    border-radius: 5px;
    border: 5px solid rgb(63, 7, 7);
    background-color:white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    
}

.button2 {
   
    background-color: white;
    border-radius: 5px;
    border: 5px solid rgb(63, 7, 7);
    background-color:white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    
}
